// TODO

process {
        withName:fasterqDump {
                container = "flowcraft/sra-tools:2.9.6-1"
        }
        withName: fastp {
                container = "virusx/fastp:0.19.5 "
        }
        withName: magicBLAST {
                container = "ncbi/magicblast:1.4.0"
        }
        withName: samtools {
                container = "biocontainers/samtools:v1.7.0_cv4"
        }
        withName: check_coverage {
            container = "perl:latest"
        }
        withName: prepare_fastq {
                container = "flowcraft/sra-tools:2.9.6-1"
        }
        withName: read_translator {
                container = "jlparkinson1/hmmer_plus_conda:firsttry"
        }
        withName: hmmer {
                container = "jlparkinson1/hmmer_plus_conda:firsttry"
        }
        withName: mash_sketch {
                container = "staphb/mash:latest"
        }
        withName: mash_screen {
                container = "staphb/mash:latest"
        }
}