// TODO

params {

        accessions = null

        fastq = '/home/ines/temp/download/*_{1,2}.*'


        /*
        Component 'fasterqDump'
        ---------------------------
        */
        compress_fastq = true

        // options: magicblast, mash, hmmer
        mode = "hmmer"

        /*
        Component 'magicBLAST'
        ---------------------------
        */
        blastdb = "DBs/AMR_CDS.blastdb"

        reference = "DBs/AMR_CDS.fasta"

        hmmdb = "DBs/hmm_database/*"

        hmmr_threshold = 100

        mash_treshold = 0.85

}
