// TODO
process {

        withName:fasterqDump {
                cpus = 4
                memory = '2GB'
        }
        withName:fastp {
                cpus = 4
                memory = '4GB'
        }
        withName:magicBLAST {
                cpus = 4
                memory = '8.GB'
        }
        withName:mash_screen {
                cpus = 4
        }
        withName: guided_assembly {
                cpus = 4
                memory = '4GB'
        }
}